.badge {
    padding: 10px 16px;
    display: inline-block;
    border: 2px solid;
    border-color: cornflowerblue;
    border-radius: 12px;
    background-color: lightblue;
    font-family: sans-serif;
    text-align: justify;
}

.badge-label {
    font-weight: bold;
    margin-right: 6px;
    color: #333;
}

.badge-value {
    color: darkblue;
}